
.App {
  text-align: center;
  margin: 50px;
  font-family: "Inconsolata", "Helvetica", "Arial", sans-serif;
}




body {
  background: dodgerblue;
}
.tab {
  margin: 20px;

  font-size: inherit;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  border: 4px solid lavender;
  color: gray;
  background: #fff;
  outline: none;
  position: relative;
  display: inline-block;
  padding: 15px 10px 14px;
  cursor: pointer;
  width: auto;
}

.dark-mode__toggle {
  background: papayawhip;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}